.chart {
    max-width: 1000px;
    display: block;
    margin: 0 auto 40px auto;
}

.chart h1 {
    text-align: center;
    font-size: 50px;
}

@media only screen and (max-width: 800px) {
    .chart h1 {
        text-align: center;
        font-size: 32px;
    }

    .chart h1 {
        font-size: 24px;
    }
}