input {
    font-size: 40px;
    background-color: #808080;
    position: absolute;
    opacity: 0.4;
    margin-top: -22px;
    margin-left: -125px;
    opacity: 0;
    filter: alpha(opacity = 0);
}

#input-container {
    position: absolute;
    top: 80px;
    left: 50%;
}

#input {
    position: absolute;
    margin-top: -20px;
    margin-left: -120px;
}

.letterContainer {
    display: inline;
    white-space: nowrap;
}

.letterStatic {
    display: inline;
}

.letterAnimTop {
    display: inline;
    position: absolute;
    animation: dropTop .1s ease;

}

.letterAnimBottom {
    display: inline;
    position: absolute;
    animation: dropBottom .1s ease;
}

.blink {
    position: static;
    top: -5px;
    animation: blink 0.3s ease 0 infinite alternate;
}

@keyframes blink {
    from { opacity: 0 }
    to { opactiy: 1 }
}

@keyframes dropTop {
    from {
        transform: translateX(0) translateY(-20px) translateZ(20px) rotateX(90deg);
    }

    to {
        transform: translateX(0) translateY(0) translateZ(0) rotateX(0deg);
    }
}

@keyframes dropBottom {
    from {
        transform: translateY(20px) translateZ(20px) rotateX(-90deg);
    }

    to {
        transform: rotateX(0deg);
    }
}