.search-wrapper {
    margin: 15px 0 0 15px;
}

input,
span,
label {
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: 10px;
    border: none;
    font-size: 18px;
}

input:focus {
    outline: 0;
}

.searchbar {
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 46px;
    font-weight: 300;
    border-radius: 2px;
    margin: 0;
    border: none;
    width: 750px;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
    overflow-x: hidden;
    border-radius: 30px;
}

.searchbar + label {
    display: block;
    position: relative;
    white-space: nowrap;
    padding: 0;
    margin: 0;
    width: 10%;
    border-top: 1px solid #FF4136;
    -webkit-transition: width 0.4s ease;
    transition: width 0.4s ease;
    height: 0px;
    left: 30px;
    top: -20px;
}

.searchbar:focus + label {
    width: 700px;
}

.searchbar:focus,
.searchbar:valid {
    padding-top: 40px;
}

.searchbar:focus + label > span,
.searchbar:valid + label > span {
    top: -90px;
    font-size: 16px;
    color: #333;
}

.searchbar + label > span {
    font-weight: 300;
    margin: 0;
    position: absolute;
    color: #8F8F8F;
    font-size: 32px;
    top: -55px;
    left: -10px;
    -webkit-transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
    transition: top 0.2s ease, font-size 0.2s ease, color 0.2s ease;
}

.search-icon {
    width: 40px;
    height: 40px;
    position: relative;
    left: 750px;
    top: -65px;
}

.search-icon:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    .searchbar {
        width: 450px;
        font-size: 30px;
    }

    .search-icon {
        width: 40px;
        height: 40px;
        position: relative;
        left: 450px;
        top: -55px;
    }
    
    .searchbar:focus + label {
        width: 300px;
    }

    .searchbar + label {
        top: -15px;
    }
}

@media only screen and (max-width: 550px) {
    .search-wrapper {
        margin: 15px 0 30px 15px;
    }

    .searchbar {
        width: 340px;
        font-size: 20px;
    }

    .search-icon {
        width: 30px;
        height: 30px;
        position: relative;
        left: 350px;
        top: -75px;
    }
    
    .searchbar:focus + label {
        width: 250px;
    }

    .searchbar + label {
        top: -10px;
    }

    .searchbar + label > span {
        font-size: 24px;
        top: -45px;
        left: -10px;
    }

    .searchbar:focus + label > span,
    .searchbar:valid + label > span {
        top: -80px;
    }
}

@media only screen and (max-width: 400px) {
    .searchbar {
        width: 240px;
        font-size: 14px;
    }

    .search-icon {
        width: 20px;
        height: 20px;
        position: relative;
        left: 260px;
        top: -65px;
    }
    
    .searchbar:focus + label {
        width: 200px;
    }

    .searchbar + label > span {
        font-size: 18px;
        top: -35px;
        left: -10px;
    }
}