footer {
    width: 100%;
    padding: 10px 0 10px 0;
    background: #BBB;
    flex-shrink: 0;
    color: #333;
}

.footer-content {
    margin-left: 20px;
}

footer > p {
    font-size: 18px;
}

.socials {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.socials > a {
    transition: background-size .3s ease;
    background: linear-gradient(to bottom, transparent 62%, #FFFBA3 0) center center/0% 25% no-repeat;
    padding: 0px 6px 0 6px;
    cursor: pointer;
    color: #001f3f;
    text-decoration: none;
    position: relative;
    height: 26px;
    height: 2.6rem;
    width: 26px;
    width: 2.6rem;
}

.socials > a:hover {
    background-size: 100% 100%;
}

.socials > a:active {
    background-size: 80% 100%;
}

svg {
    height: 100%;
    width: 100%;
}

@media only screen and (max-width: 550px) {
    .footer-content {
        margin-left: 0;
        text-align: center;
    }

    .socials {
        display: block;
    }

    .socials > p {
        display: block;
        width: 100%;
    }

    svg {
        height: 15%;
        width: 15%;
    }
}